@{
    ViewBag.Title = "CercaIlTuoAnimale";
}

<div class="subtleBg px-3 py-4 mt-4 rounded-3 fs-5">


    <h2 class="display-4 mb-4">Cerca il tuo cucciolo</h2>

    <main>

        <h3> Inserisci il microchip del tuo cucciolo</h3>
        <div class="d-flex">
            <input class="form-control" type="text" id="search" placeholder="Cerca il tuo Animale" />
            <button id="bottone" class="btn btn-primary ms-2"> Cerca</button>
        </div>
        <p id="animaleNo" class="text-danger fs-4">@TempData["animaleNo"]</p>
        <div id="result" class="d-none">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img id="immagine" src="" class="img-fluid rounded-start" alt="">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 id="nome" class="card-title"></h5>
                            <p id="colore" class="card-text"></p>
                            <p class="card-text"><small id="micro" class="text-body-secondary"></small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
@section Scripts{
    <script>

        const bottone = document.getElementById('bottone');
        bottone.addEventListener('click', function () {
            const Microchip = document.getElementById('search').value;
            console.log(Microchip);
            fetchAnimale(Microchip);

        });

        function fetchAnimale(Microchip) {
            const path = "/Content/img/";
            fetch("/Home/CercaAnimale?Microchip=" + Microchip)
                .then(response => {
                    console.log("response = ", response);
                    if (response.status == 404) {
                        const p = document.getElementById('animaleNo');
                        p.textContent = "Animale non trovato";
                        return;
                    } else {
                        const p = document.getElementById('animaleNo');
                        p.textContent = "";
                    }
                    return response.json()
                })
                .then(data => {
                    console.log("data = ", data);
                    const div = document.getElementById('result');
                    const immagine = document.getElementById('immagine');
                    immagine.src = path + data.Foto;
                    immagine.alt = data.Nome;
                    const nome = document.getElementById('nome');
                    nome.textContent = "Nome: " + data.Nome;
                    const colore = document.getElementById('colore');
                    colore.textContent = "Colore: " + data.Colore;
                    const micro = document.getElementById('micro');
                    micro.textContent = "N Microchip: " + data.Microchip;
                    div.classList.remove('d-none');
                
                })
                .catch(error => console.error("Errore nel reperimento dati: ", error));
            
        }
    </script>
}



